/*Page design*/
body {
  background: white;
  color: #A38F85;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  text-align: center;
}

h3 {
  font-family: "Georgia", serif;
  font-size: 18px;
}

p {
  line-height: 1.3;
  max-width: 700px;
  margin: 20px auto;
}

section {
  padding: 20px;
}

body a:hover {
  color: #204045;
}

/* Style for the header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(assets/header.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  width: 98vw;
  height: 40vw;
  overflow: hidden;
}

/*Image design*/
img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Navbar design*/
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Navbar links design*/
.nav-links a {
  text-decoration: none;
  /*removing underline, it is as default*/
  color: #A38F85;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
}

/*Logo design*/
.logo {
  font-size: 20px;
  /*width: 70px;*/
  color: #D4B2A7;
  font-family: "Great Vibes", cursive;
  /*animation: bounce 2s infinite;*/
}

/*@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
    /* Original position of logo 
  }

  50% {
    transform: translateY(-10px);
    /* Moves up by 10px, creates bounce 
  }
}*/

/*grid-content & grid-journal design*/
.grid-content,
.grid-journal {
  display: grid;
  grid-template-columns: 1fr;
  /*default 1 column on mobile screen 320px*/
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
}

/*grid-content & grid-journal links design*/
.grid-content a,
.grid-journal a {
  text-decoration: none;
  color: #D4B2A7;
  font-style: italic;
}

/*quote-section design*/
.quote-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px 0;
  background-color: #E7D7C9;
  color: white;
  padding: 20px;
  border-radius: 8px;
  font-family: "Book Antiqua", Palatino, serif;
  font-style: italic;
  font-size: 22px;
}

/* Media Queries */

/* Mobile exceptions */
@media (max-width: 667px) {
  .navbar {
    display: none;
    /* Hide navbar */
  }

  .about-me-section,
  .quote-section {
    text-align: left;
    /*text aligns on small screens*/
    padding: 20px;
  }
}

/* Tablet exceptions*/
@media (min-width: 668px) and (max-width: 1024px) {
  .navbar {
    display: none;
  }

  .grid-content,
  .grid-journal {
    grid-template-columns: repeat(2, 1fr);
    /*2 columns on tabelet*/
  }

  .about-me-section,
  .quote-section {
    text-align: left;
    padding: 20px;
  }

}

/* Desktop exceptions */
@media (min-width: 1025px) {
  .navbar {
    display: flex;
    /* Show navbar on desktop */
  }

  .grid-content,
  .grid-journal {
    grid-template-columns: repeat(4, 1fr);
    /*4 columns on screens 1024px and up*/
  }

}

form {
  border: 1px solid brown;
  border-radius: 4px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  /*centers box*/
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 15px;
  /*adds space between sections*/
  background: white
}

label {
  display: block;
  text-align: center;
}

span {
  width: 30%;
  text-align: left;
  margin: 10px;
  /*seperates value from box*/
}

input[type="text"],
input[type="email"] {
  width: 100%;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

button {
  background: #7e9693;
  color: white;
  width: 30%;
  padding: 5px;
  margin-top: 20px;
}

/*Visual space line design*/
hr {
  border: 1px solid #171615;
}

/*Footer design*/
footer {
  margin-top: auto;
  /* this pushes the footer to bottom*/
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Footer links design*/
footer a {
  text-decoration: none;
  color: #A38F85;
  padding: 5px 5px;
}